{
    /* 
    
        Operation Group: DataMasking

    */
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/Default": {
      "put": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_CreateOrUpdatePolicy",
        "description": "Creates or updates an Azure SQL Database data masking policy",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rule applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a firewall rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicy"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_GetPolicy",
        "description": "Returns an Azure SQL Database data masking policy.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking policy applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/Default/rules/{dataMaskingRule}": {
      "put": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_CreateOrUpdateRule",
        "description": "Creates or updates an Azure SQL Server Firewall rule.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rule applies."
          },
          {
            "name": "dataMaskingRule",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database data masking rule."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMaskingRuleCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a data masking rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingRule"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingRule"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_Delete",
        "description": "Deletes an Azure SQL Server data masking rule.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rule applies."
          },
          {
            "name": "dataMaskingRule",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database  data masking rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/Default/Rules": {
      "get": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_List",
        "description": "Returns a list of Azure SQL Database data masking rules.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rules applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
  },
  "definitions": {
    "DataMaskingPolicyProperties": {
      "properties": {
        "dataMaskingState": {
          "type": "string",
          "description": "Gets or sets the state of the data masking policy."
        },
        "exemptPrincipals": {
          "type": "string",
          "description": "Gets or sets the list of the exempt principals"
        }
      },
      "required": [
        "dataMaskingState",
        "exemptPrincipals"
      ],
      "description": "Represents the properties of an Azure SQL Database data masking policy."
    },
    "DataMaskingPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingPolicyProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update data masking Rule parameters."
    },
    "DataMaskingPolicy": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingPolicyProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database data masking policy."
    },
    "DataMaskingRuleProperties": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the rule Id."
        },
        "ruleState": {
          "type": "string",
          "description": "Gets or sets the rule state."
        },
        "schemaName": {
          "type": "string",
          "description": "Gets or sets the schema name on which the data masking rule is applied."
        },
        "tableName": {
          "type": "string",
          "description": "Gets or sets the table name on which the data masking rule is applied."
        },
        "columnName": {
          "type": "string",
          "description": "Gets or sets the column name on which the data masking rule is applied."
        },
        "maskingFunction": {
          "type": "string",
          "description": "Gets or sets the masking function that is used for the data masking rule."
        },
        "numberFrom": {
          "type": "string",
          "description": "Gets or sets the numberFrom property of the masking rule."
        },
        "numberTo": {
          "type": "string",
          "description": "Gets or sets the numberTo property of the data masking rule."
        },
        "prefixSize": {
          "type": "string",
          "description": "Gets or sets the prefixSize property that is used for the data masking rule."
        },
        "suffixSize": {
          "type": "string",
          "description": "Gets or sets the suffixSize property that is used for the data masking rule."
        },
        "replacementString": {
          "type": "string",
          "description": "Gets or sets the replacementString property that is used for the data masking rule."
        }
      },
      "required": [
        "id",
        "ruleState",
        "maskingFunction"
      ],
      "description": "Represents the properties of an Azure SQL Database data masking rule."
    },
    "DataMaskingRuleCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingRuleProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update data masking rule parameters."
    },
    "DataMaskingRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingRuleProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database data masking rule."
    },
    "DataMaskingRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataMaskingRule"
          },
          "description": "Gets or sets the list of Azure Sql Database data masking rules"
        }
      },
      "description": "Represents the response to a List data masking rules request."
    },
  },
  "parameters": { }
}