{
    /* 
    
        Operation Group: Databases

    */
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "put": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_CreateOrUpdate",
        "description": "Begins creating a new Azure SQL Database or updating an existing Azure SQL Database. To determine the status of the operation call GetDatabaseOperationStatus.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be operated on (Updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseCreateOrUpdateParameters"
            },
            "description": "The required parameters for creating or updating a database."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Delete",
        "description": "Deletes the Azure SQL Database with the given name.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be deleted."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Get",
        "description": "Returns information about an Azure SQL Database.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_GetById",
        "description": "Returns information about an Azure SQL Database.",
        "parameters": [ 
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-odata": "#/definitions/Database"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_ListUsages",
        "description": "Returns information about Azure SQL Database usages.",
        "parameters": [ 
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },=
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions/import": {
      "post" : {
        "tags": [
          "ImportExport"
        ],
        "operationId":"Databases_Import",
        "description":"Imports a bacpac to Azure SQL Database.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to import into"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportExtensionRequestParameters"
            },
            "description": "The required parameters for importing a Bacpac into a database."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImportExportOperationStatusResponse"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImportExportOperationStatusResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/export": {
      "post" : {
        "tags": [
          "ImportExport"
        ],
        "operationId":"Databases_Export",
        "description":"Exports a Azure SQL Database to a bacpac.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be exported."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportRequestParameters"
            },
            "description": "The required parameters for exporting a database."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImportExportOperationStatusResponse"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImportExportOperationStatusResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
  },
  "definitions": {
    "DatabaseCreateOrUpdateProperties": {
      "properties": {
        "edition": {
          "type": "string",
          "description": "Gets or sets the edition for the Azure Sql Database being updated or created."
        },
        "collation": {
          "type": "string",
          "description": "Gets or sets the collation of the Azure Sql Database being created.  You cannot change change the collation of an existing Azure Sql Database."
        },
        "maxSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the maximum size of the Azure Sql Database being created or updated in bytes."
        },
        "requestedServiceObjectiveId": {
          "type": "string",
          "description": "Gets or sets the service objective to be applied to the Azure Sql Database being created or updated."
        },
        "requestedServiceObjectiveName": {
          "type": "string",
          "description": "Gets or sets the service objective to be applied to the Azure Sql Database being created or updated."
        },
        "elasticPoolName": {
          "type": "string",
          "description": "Gets or sets the name of the Elastic Pool to put the Azure Sql Database in."
        },
        "sourceDatabaseId": {
          "type": "string",
          "description": "Gets or sets the resource id of the database to use as the source for the copy being created."
        },
        "createMode": {
          "type": "string",
          "description": "Gets or sets the create Mode for the Azure Sql Database database being created.",
          "enum": [
            "Default",
            "Copy",
            "Secondary",
            "NonReadableSecondary"
          ],
          "x-ms-enum": {
            "name": "DatabaseCreateMode",
            "modelAsString": "True"
          }
        }
      },
      "description": "Create or update Azure Sql Database parameters properties."
    },
    "DatabaseCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseCreateOrUpdateProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Create or update Sql Azure Database parameters."
    },
    "DatabaseProperties": {
      "properties": {
        "collation": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the collation of the Azure SQL Database."
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the creation date of the Azure SQL Database."
        },
        "currentServiceObjectiveId": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the current Service Level Objective Id of the Azure SQL Database. This is the Id of the Service Level Objective that is currently active."
        },
        "databaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the Id of the Azure SQL Database."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the recovery period starte date of the Azure SQL Database. This records the start date and time when recovery is available for this Azure SQL Database."
        },
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the edition of the Azure SQL Database.  The DatabaseEditions enumeration contains all the valid editions.",
          "enum": [
            "Web",
            "Business",
            "Basic",
            "Standard",
            "Premium",
            "Free",
            "Stretch",
            "DataWarehouse"
          ],
          "x-ms-enum": {
            "name": "DatabaseEditions",
            "modelAsString": "True"
          }
        },
        "maxSizeBytes": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "Gets the max size of the Azure SQL Database expressed in bytes."
        },
        "requestedServiceObjectiveId": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the configured Service Level Objective Id of the Azure SQL Database. This is the Service Level Objective that is being applied to the Azure SQL Database."
        },
        "requestedServiceObjectiveName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the name of the configured Service Level Objective of the Azure SQL Database. This is the Service Level Objective that is being applied to the Azure SQL Database."
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the Service Level Objective of the Azure SQL Database."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the status of the Azure SQL Database."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the name of the Azure SQL Elastic Pool the database is in."
        },
        "serviceTierAdvisors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceTierAdvisor"
          },
          "description": "Gets the list of service tier advisors for this database. Expanded property"
        },
        "upgradeHint": {
          "$ref": "#/definitions/UpgradeHint",
          "readOnly": true,
          "description": "Gets the upgrade hint for this database."
        },
        "schemas": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schema"
          },
          "description": "Gets the schemas from this database."
        },
        "defaultSecondaryLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the default secondary region for this database."
        }
      },
      "description": "Represents the properties of an Azure SQL Database."
    },
    "Database": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "description": "Gets or sets the properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database."
    },
    "DatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "Gets or sets the list of Azure Sql Databases housed in the server."
        }
      },
      "description": "Represents the response to a List Azure Sql Database request."
    },
  },
  "parameters": {
  }
}