{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
   },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    }
    "ImportExtensionRequestParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets the name of the extenstion."
        },
        "type": {
          "type": "string",
          "description": "Gets the type of the extenstion."
        },
        "properties": {
          "$ref": "#/definitions/ImportExtensionRequestProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "description":"Import Azure SQL Database parameters."
    },
    "ImportExportOperationStatusResponse": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ImportExportOperationStatusResponseProperties",
          "description": "Gets or sets the properties of the response."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id returned from the server."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name returned from the server."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type returned from the server."
        },
      },
      "description":"Response for Azure Sql Import/Export Status operation."
    },
    "ImportExportOperationStatusResponseProperties": {
      "properties": {
        "requestType": {
          "type": "string",
          "description": "Gets or sets the request type of the operation."
        },
        "serverName": {
          "type": "string",
          "description": "Gets or sets the name of the Azure SQL Server."
        },
        "databaseName": {
          "type": "string",
          "description": "Gets or sets the name of the Azure SQL Database."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status message returned from the server."
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Gets or sets the operation status last modified time."
        },
        "queuedTime": {
          "type": "string",
          "description": "Gets or sets the operation queued time."
        },
        "blobUri": {
          "type": "string",
          "description": "Gets or sets the blob uri."
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets or sets the error message returned from the server."
        }
      },
      "description": "Response for Azure Sql Import/Export Status operation."
    },
    "ImportRequestParameters" : {
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Gets or sets the name of the Azure SQL database to import."
        },
        "edition": {
          "type": "string",
          "description": "Gets or sets the edition for the Azure Sql Database being created."
        },
        "serviceObjectiveName": {
          "type": "string",
          "description": "Gets or sets the name of the service objective to assign to the Azure SQL Database."
        },
        "maxSizeBytes": {
          "type": "string",
          "description": "Gets or sets the maximum size for the newly imported database."
        },
      },
      "allOf": [
        {
          "$ref": "#/definitions/ExportRequestParameters"
        }
      ],
      "description": "Import Azure SQL Database parameters."
    },
    "ExportRequestParameters" : {
      "properties": {
        "storageKeyType": {
          "type": "string",
          "description": "Gets or sets the type of the storage key to use. Valid values are StorageAccessKey and SharedAccessKey."
        },
        "storageKey": {
          "type": "string",
          "description": "Gets or sets the storage key to use."
        },
        "storageUri": {
          "type": "string",
          "description": "Gets or sets the storage uri to use."
        },
        "administratorLogin": {
          "type": "string",
          "description": "Gets or sets the name of the SQL administrator."
        },
        "administratorLoginPassword": {
          "type": "string",
          "description": "Gets or sets the password of the SQL administrator."
        },
        "authenticationType": {
          "type": "string",
          "description": "Gets or sets the authentication type."
        },
      },
      "description": "Export Azure SQL Database parameters."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Resource Group to which the resource belongs."
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL Server on which the Azure SQL Database is hosted."
    },
    "ServerNameParameterGeneric": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure SQL Server"
    }
  }
}