{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "description": "The Windows Azure SQL Database management API provides a RESTful set of web services that interact with Windows Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases and servers.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies/Default": {
      "put": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_CreateOrUpdateDatebasePolicy",
        "description": "Creates or updates an Azure SQL Database auditing policy.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the auditing policy applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a Azure SQL Database auditing policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicy"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_GetDatabasePolicy",
        "description": "Returns an Azure SQL Database auditing policy.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the auditing policy applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies/Default": {
      "put": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_CreateOrUpdateServerPolicy",
        "description": "Creates or updates an Azure SQL Server auditing policy.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a Azure SQL Server auditing policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicy"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_GetServerPolicy",
        "description": "Returns an Azure SQL Server auditing policy.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/Default": {
      "put": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_CreateOrUpdatePolicy",
        "description": "Creates or updates an Azure SQL Database data masking policy",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rule applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a firewall rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicy"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_GetPolicy",
        "description": "Returns an Azure SQL Database data masking policy.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking policy applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/Default/rules/{dataMaskingRule}": {
      "put": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_CreateOrUpdateRule",
        "description": "Creates or updates an Azure SQL Server Firewall rule.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rule applies."
          },
          {
            "name": "dataMaskingRule",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database data masking rule."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMaskingRuleCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a data masking rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingRule"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingRule"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_Delete",
        "description": "Deletes an Azure SQL Server data masking rule.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rule applies."
          },
          {
            "name": "dataMaskingRule",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database  data masking rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/Default/Rules": {
      "get": {
        "tags": [
          "DataMasking"
        ],
        "operationId": "DataMasking_List",
        "description": "Returns a list of Azure SQL Database data masking rules.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the data masking rules applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DataMaskingRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "DatabaseActivation_Pause",
        "description": "Start an Azure SQL Data Warehouse database pause operation.To determine the status of the operation call GetDatabaseActivationOperationStatus.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Data Warehouse database to pause."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume": {
      "post": {
        "tags": [
          "DatabaseActivation"
        ],
        "operationId": "DatabaseActivation_Resume",
        "description": "Start an Azure SQL Data Warehouse database resume operation. To determine the status of the operation call GetDatabaseActivationOperationStatus.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Data Warehouse database to resume."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints": {
      "get": {
        "tags": [
          "DatabaseBackup"
        ],
        "operationId": "DatabaseBackup_ListRestorePoints",
        "description": "Returns a list of Azure SQL Database restore points.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database from which to retrieve available restore points."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RestorePointListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "put": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_CreateOrUpdate",
        "description": "Begins creating a new Azure SQL Database or updating an existing Azure SQL Database. To determine the status of the operation call GetDatabaseOperationStatus.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be operated on (Updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseCreateOrUpdateParameters"
            },
            "description": "The required parameters for creating or updating a database."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Delete",
        "description": "Deletes the Azure SQL Database with the given name.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be deleted."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_Get",
        "description": "Returns information about an Azure SQL Database.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_GetById",
        "description": "Returns information about an Azure SQL Database.",
        "parameters": [ 
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-odata": "#/definitions/Database"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages": {
      "get": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_ListUsages",
        "description": "Returns information about Azure SQL Database usages.",
        "parameters": [ 
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}": {
      "put": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_CreateOrUpdate",
        "description": "Begins creating a new Azure SQL Database Elastic Pool or updating an existing Azure SQL Database Elastic Pool. To determine the status of the operation call GetElasticPoolOperationStatus.",
        "parameters": [ 
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool to be operated on (Updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticPoolCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating an Elastic Pool."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_Delete",
        "description": "Deletes the Azure SQL Database Elastic Pool with the given name.",
        "parameters": [
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool to be deleted."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_Get",
        "description": "Returns information about an Azure SQL Database Elastic Pool.",
        "parameters": [
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ElasticPool"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases/{databaseName}": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_GetDatabases",
        "description": "Returns information about an Azure SQL Database inside of an Azure Sql Database Elastic Pool.",
        "parameters": [
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool to be retrieved."
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_List",
        "description": "Returns information about Azure SQL Database Elastic Pools.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ElasticPoolListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolActivity": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_ListActivity",
        "description": "Returns information about Azure SQL Database Elastic Pool Activity.",
        "parameters": [
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool for which to get the current activity."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ElasticPoolActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_ListDatabaseActivity",
        "description": "Returns information about activity on Azure SQL Databases inside of an Azure Sql Database Elastic Pool.",
        "parameters": [ 
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ElasticPoolDatabaseActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_ListDatabases",
        "description": "Returns information about an Azure SQL Database inside of an Azure Sql Database Elastic Pool.",
        "parameters": [ 
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules/{firewallRule}": {
      "put": {
        "tags": [
          "FirewallRules"
        ],
        "operationId": "FirewallRules_CreateOrUpdate",
        "description": "Creates or updates an Azure SQL Server Firewall rule.",
        "parameters": [
          {
            "name": "firewallRule",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Firewall Rule."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallRuleCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a firewall rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FirewallRule"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FirewallRule"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "FirewallRules"
        ],
        "operationId": "FirewallRules_Delete",
        "description": "Deletes an Azure SQL Server Firewall rule.",
        "parameters": [
          {
            "name": "firewallRule",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Firewall Rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "FirewallRules"
        ],
        "operationId": "FirewallRules_Get",
        "description": "Returns an Azure SQL Server Firewall rule.",
        "parameters": [
          {
            "name": "firewallRule",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Firewall Rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FirewallRule"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules": {
      "get": {
        "tags": [
          "FirewallRules"
        ],
        "operationId": "FirewallRules_List",
        "description": "Returns a list of Azure SQL Server Firewall rules.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FirewallRuleListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/capabilities": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "operationId": "Capabilities_Get",
        "description": "Returns information about the Azure SQL capabilities available for the specified region.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the region for which the Azure SQL capabilities are retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocationCapability"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_Get",
        "description": "Returns information about an Azure SQL Recommended Elastic Pool.",
        "parameters": [
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RecommendedElasticPool"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases/{databaseName}": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_GetDatabases",
        "description": "Returns information about an Azure SQL Database inside of an Azure Sql Recommended Elastic Pool.",
        "parameters": [ 
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database Elastic Pool to be retrieved."
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_List",
        "description": "Returns information about Azure SQL Recommended Elastic Pools.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RecommendedElasticPoolListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_ListDatabases",
        "description": "Returns information about an Azure SQL Database inside of an Azure Sql Recommended Elastic Pool.",
        "parameters": [
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/metrics": {
      "get": {
        "tags": [
          "RecommendedElasticPools"
        ],
        "operationId": "RecommendedElasticPools_ListMetrics",
        "description": "Returns information about an recommended elastic pool metrics.",
        "parameters": [
          {
            "name": "recommendedElasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Recommended Elastic Pool to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RecommendedElasticPoolListMetricsResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/recommendedIndexes/{indexName}": {
      "get": {
        "tags": [
          "RecommendedIndexes"
        ],
        "operationId": "RecommendedIndexes_Get",
        "description": "Returns details on recommended index.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database."
          },
          {
            "name": "schemaName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database schema."
          },
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database table."
          },
          {
            "name": "indexName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL database recommended index."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RecommendedIndex"
            }
          }
        }
      },
      "put": {
        "tags": [
          "RecommendedIndexes"
        ],
        "operationId": "RecommendedIndexes_Update",
        "description": "We execute or cancel index operations by updating index state. Allowed state transitions are :Active          -> Pending          - Start index creation processPending         -> Active           - Cancel index creationActive/Pending  -> Ignored          - Ignore index recommendation so it will no longer show in active recommendationsIgnored         -> Active           - Restore index recommendationSuccess         -> Pending Revert   - Revert index that has been createdPending Revert  -> Revert Canceled  - Cancel index revert operation",
        "parameters": [ 
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database."
          },
          {
            "name": "schemaName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database schema."
          },
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database table."
          },
          {
            "name": "indexName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database recommended index."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecommendedIndexUpdateParameters"
            },
            "description": "The required parameters for updating index state."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RecommendedIndex"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}": {
      "delete": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "DatabaseReplicationLinks_Delete",
        "description": "Deletes the Azure SQL Database Replication Link with the given id.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database that has the replication link to be dropped."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the replication link to be deleted."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "DatabaseReplicationLinks_Get",
        "description": "Returns information about an Azure SQL Database Replication Link.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to get the link for."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The replication link id to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReplicationLink"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/failover": {
      "post": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "DatabaseReplicationLinks_Failover",
        "description": "Begins failover of the Azure SQL Database Replication Link with the given id.",
        "parameters": [ 
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database that has the replication link to be failed over."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the replication link to be failed over."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/forceFailoverAllowDataLoss": {
      "post": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "DatabaseReplicationLinks_FailoverAllowDataLoss",
        "description": "Begins a forced failover of the Azure SQL Database Replication Link with the given id which may result in data loss.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database that has the replication link to be failed over."
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the replication link to be failed over."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks": {
      "get": {
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "operationId": "DatabaseReplicationLinks_List",
        "description": "Returns information about Azure SQL Database Replication Links.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to retrieve links for."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReplicationLinkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/connectionPolicies/Default": {
      "put": {
        "tags": [
          "SecureConnection"
        ],
        "operationId": "SecureConnection_CreateOrUpdateDatabasePolicy",
        "description": "Creates or updates an Azure SQL Server Firewall rule.",
        "parameters": [ 
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the policy applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseSecureConnectionPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a secure connection policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseSecureConnectionPolicy"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseSecureConnectionPolicy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "SecureConnection"
        ],
        "operationId": "SecureConnection_GetDatabasePolicy",
        "description": "Returns an Azure SQL Database secure connection policy.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the secure connection policy applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseSecureConnectionPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}": {
      "put": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "ServerAdministrators_CreateOrUpdate",
        "description": "Begins creating a new Azure SQL Server Active Directory Administrator or updating an existing Azure SQL Server Active Directory Administrator. To determine the status of the operation call GetServerAdministratorOperationStatus.",
        "parameters": [
          {
            "name": "administratorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Active Directory Administrator."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerAdministratorCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating an Active Directory Administrator."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAdministrator"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAdministrator"
            }
          },
          "202": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "ServerAdministrators_Delete",
        "description": "Begins deleting an existing Azure SQL Server Active Directory Administrator.To determine the status of the operation call GetServerAdministratorDeleteOperationStatus.",
        "parameters": [
          {
            "name": "administratorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Active Directory Administrator."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          },
          "204": {
            "description": ""
          },
          "200": {
            "description": ""
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "ServerAdministrators_Get",
        "description": "Returns an Azure SQL Server Administrator.",
        "parameters": [
          {
            "name": "administratorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server Active Directory Administrator."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAdministrator"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators": {
      "get": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "ServerAdministrators_List",
        "description": "Returns a list of Azure SQL Server Administrators.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAdministratorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}": {
      "put": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_CreateOrUpdate",
        "description": "Creates a new Azure SQL Server.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a server."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Delete",
        "description": "Returns information about an Azure SQL Server.",
        "parameters": [ 
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Get",
        "description": "Returns information about an Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_List",
        "description": "Returns information about an Azure SQL Server.",
        "parameters": [ 
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_ListUsages",
        "description": "Returns information about Azure SQL Server usage.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerMetricListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/operationResults/versionUpgrade": {
      "delete": {
        "tags": [
          "ServerUpgrades"
        ],
        "operationId": "ServerUpgrades_Cancel",
        "description": "Cancel a pending upgrade for the Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "ServerUpgrades"
        ],
        "operationId": "ServerUpgrades_Get",
        "description": "Returns information about Upgrade status of an Azure SQL Server.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerUpgradeGetResult"
            }
          },
          "202": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/upgrade": {
      "post": {
        "tags": [
          "ServerUpgrades"
        ],
        "operationId": "ServerUpgrades_Start",
        "description": "Start an Azure SQL Server Upgrade.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerUpgradeStartParameters"
            },
            "description": "The required parameters for the Azure SQL Server Upgrade."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "ServiceTierAdvisors_Get",
        "description": "Returns information about a service tier advisor.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          },
          {
            "name": "serviceTierAdvisorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of service tier advisor."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisor"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "ServiceTierAdvisors_List",
        "description": "Returns information about service tier advisors for specified database.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "ServiceObjectives_Get",
        "description": "Returns information about an Azure SQL Database Service Objective.",
        "parameters": [
          {
            "name": "serviceObjectiveName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service objective to retrieve."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServiceObjective"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives": {
      "get": {
        "tags": [
          "ServiceObjectives"
        ],
        "operationId": "ServiceObjectives_List",
        "description": "Returns information about Azure SQL Database Service Objectives.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServiceObjectiveListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current": {
      "put": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "TransparentDataEncryption_CreateOrUpdate",
        "description": "Creates or updates an Azure SQL Database Transparent Data Encryption Operation.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which setting the Transparent Data Encryption applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryptionCreateOrUpdateParameters"
            },
            "description": "The required parameters for creating or updating transparent data encryption."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      },
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "TransparentDataEncryption_Get",
        "description": "Returns an Azure SQL Database Transparent Data Encryption Response.",
        "parameters": [ 
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the Transparent Data Encryption applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/current/operationResults": {
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "TransparentDataEncryption_ListActivity",
        "description": "Returns an Azure SQL Database Transparent Data Encryption Activity Response.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the Transparent Data Encryption applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryptionActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "DatabaseAuditingPolicyProperties": {
      "properties": {
        "useServerDefault": {
          "readOnly": true,
          "type": "string",
          "description": "Indicates whether the default server auditing policy is used for that Azure SQL Database."
        },
        "auditingState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the auditing state of the Azure SQL Server auditing policy."
        },
        "eventTypesToAudit": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the events types of the Azure SQL Server auditing policy."
        },
        "storageAccountName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage account name of the Azure SQL Server auditing policy."
        },
        "storageAccountKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the primary storage account key of the Azure SQL Server auditing policy."
        },
        "storageAccountSecondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets secondary key of the storage account of the Azure SQL Server auditing policy."
        },
        "storageTableEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage table endpoint of the Azure SQL Server auditing policy."
        },
        "storageAccountResourceGroupName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the resource group of the storage account of the Azure SQL Server auditing policy."
        },
        "storageAccountSubscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the subscription Id of the storage account of the Azure SQL Server auditing policy."
        },
        "retentionDays": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the retention in days of the Azure SQL Database auditing policy."
        },
        "auditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the name of the table audit logs are written to in the Azure SQL Database auditing policy."
        },
        "fullAuditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the full name of the table audit logs are written to in the Azure SQL Database auditing policy."
        }
      },
      "description": "Represents the properties of an Azure SQL auditing policy."
    },
    "DatabaseAuditingPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseAuditingPolicyProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update database audting policy parameters."
    },
    "DatabaseAuditingPolicy": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseAuditingPolicyProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database auditing policy."
    },
    "ServerAuditingPolicyProperties": {
      "properties": {
        "auditingState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the auditing state of the Azure SQL Server auditing policy."
        },
        "eventTypesToAudit": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the events types of the Azure SQL Server auditing policy."
        },
        "storageAccountName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage account name of the Azure SQL Server auditing policy."
        },
        "storageAccountKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the primary storage account key of the Azure SQL Server auditing policy."
        },
        "storageAccountSecondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets secondary key of the storage account of the Azure SQL Server auditing policy."
        },
        "storageTableEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage table endpoint of the Azure SQL Server auditing policy."
        },
        "storageAccountResourceGroupName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the resource group of the storage account of the Azure SQL Server auditing policy."
        },
        "storageAccountSubscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the subscription Id of the storage account of the Azure SQL Server auditing policy."
        },
        "retentionDays": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the retention in days of the Azure SQL Database auditing policy."
        },
        "auditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the name of the table audit logs are written to in the Azure SQL Database auditing policy."
        },
        "fullAuditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the full name of the table audit logs are written to in the Azure SQL Database auditing policy."
        }
      },
      "description": "Represents the properties of an Azure SQL auditing policy."
    },
    "ServerAuditingPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerAuditingPolicyProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update Azure SQL Server audting policy parameters."
    },
    "ServerAuditingPolicy": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerAuditingPolicyProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Server auditing policy."
    },
    "DataMaskingPolicyProperties": {
      "properties": {
        "dataMaskingState": {
          "type": "string",
          "description": "Gets or sets the state of the data masking policy."
        },
        "exemptPrincipals": {
          "type": "string",
          "description": "Gets or sets the list of the exempt principals"
        }
      },
      "required": [
        "dataMaskingState",
        "exemptPrincipals"
      ],
      "description": "Represents the properties of an Azure SQL Database data masking policy."
    },
    "DataMaskingPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingPolicyProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update data masking Rule parameters."
    },
    "DataMaskingPolicy": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingPolicyProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database data masking policy."
    },
    "DataMaskingRuleProperties": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the rule Id."
        },
        "ruleState": {
          "type": "string",
          "description": "Gets or sets the rule state."
        },
        "schemaName": {
          "type": "string",
          "description": "Gets or sets the schema name on which the data masking rule is applied."
        },
        "tableName": {
          "type": "string",
          "description": "Gets or sets the table name on which the data masking rule is applied."
        },
        "columnName": {
          "type": "string",
          "description": "Gets or sets the column name on which the data masking rule is applied."
        },
        "maskingFunction": {
          "type": "string",
          "description": "Gets or sets the masking function that is used for the data masking rule."
        },
        "numberFrom": {
          "type": "string",
          "description": "Gets or sets the numberFrom property of the masking rule."
        },
        "numberTo": {
          "type": "string",
          "description": "Gets or sets the numberTo property of the data masking rule."
        },
        "prefixSize": {
          "type": "string",
          "description": "Gets or sets the prefixSize property that is used for the data masking rule."
        },
        "suffixSize": {
          "type": "string",
          "description": "Gets or sets the suffixSize property that is used for the data masking rule."
        },
        "replacementString": {
          "type": "string",
          "description": "Gets or sets the replacementString property that is used for the data masking rule."
        }
      },
      "required": [
        "id",
        "ruleState",
        "maskingFunction"
      ],
      "description": "Represents the properties of an Azure SQL Database data masking rule."
    },
    "DataMaskingRuleCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingRuleProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update data masking rule parameters."
    },
    "DataMaskingRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataMaskingRuleProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database data masking rule."
    },
    "DataMaskingRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataMaskingRule"
          },
          "description": "Gets or sets the list of Azure Sql Database data masking rules"
        }
      },
      "description": "Represents the response to a List data masking rules request."
    },
    "ErrorResult": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code returned from the server."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message returned from the server."
        },
        "target": {
          "type": "string",
          "description": "Gets or sets the target of the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "RestorePointProperties": {
      "properties": {
        "restorePointType": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the restore point type of the Azure SQL Database restore point.",
          "enum": [
            "DISCRETE",
            "CONTINUOUS"
          ],
          "x-ms-enum": {
            "name": "RestorePointTypes",
            "modelAsString": "True"
          }
        },
        "restorePointCreationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time. Populated when restorePointType = CONTINUOUS. Null otherwise."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Earliest restore time. Populated when restorePointType = DISCRETE. Null otherwise."
        }
      },
      "description": "Represents the properties of an Azure SQL Database restore point."
    },
    "RestorePoint": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RestorePointProperties",
          "description": "Gets or sets the properties representing the restore point."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database restore point."
    },
    "RestorePointListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorePoint"
          },
          "description": "Gets or sets the list of a given Azure Sql Database restore points."
        }
      },
      "description": "Represents the response to a List Azure Sql Database restore points request."
    },
    "DatabaseCreateOrUpdateProperties": {
      "properties": {
        "edition": {
          "type": "string",
          "description": "Gets or sets the edition for the Azure Sql Database being updated or created."
        },
        "collation": {
          "type": "string",
          "description": "Gets or sets the collation of the Azure Sql Database being created.  You cannot change change the collation of an existing Azure Sql Database."
        },
        "maxSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the maximum size of the Azure Sql Database being created or updated in bytes."
        },
        "requestedServiceObjectiveId": {
          "type": "string",
          "description": "Gets or sets the service objective to be applied to the Azure Sql Database being created or updated."
        },
        "requestedServiceObjectiveName": {
          "type": "string",
          "description": "Gets or sets the service objective to be applied to the Azure Sql Database being created or updated."
        },
        "elasticPoolName": {
          "type": "string",
          "description": "Gets or sets the name of the Elastic Pool to put the Azure Sql Database in."
        },
        "sourceDatabaseId": {
          "type": "string",
          "description": "Gets or sets the resource id of the database to use as the source for the copy being created."
        },
        "createMode": {
          "type": "string",
          "description": "Gets or sets the create Mode for the Azure Sql Database database being created.",
          "enum": [
            "Default",
            "Copy",
            "Secondary",
            "NonReadableSecondary"
          ],
          "x-ms-enum": {
            "name": "DatabaseCreateMode",
            "modelAsString": "True"
          }
        }
      },
      "description": "Create or update Azure Sql Database parameters properties."
    },
    "DatabaseCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseCreateOrUpdateProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Create or update Sql Azure Database parameters."
    },
    "SloUsageMetric": {
      "properties": {
        "serviceLevelObjective": {
          "type": "string",
          "description": "Gets or sets serviceLevelObjective for SLO usage metric."
        },
        "serviceLevelObjectiveId": {
          "type": "string",
          "description": "Gets or sets serviceLevelObjectiveId for SLO usage metric."
        },
        "inRangeTimeRatio": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets inRangeTimeRatio for SLO usage metric."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents a Slo Usage Metric."
    },
    "ServiceTierAdvisorProperties": {
      "properties": {
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the observation period start."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the observation period start."
        },
        "activeTimeRatio": {
          "type": "number",
          "format": "double",
          "description": "Gets the activeTimeRatio for service tier advisor."
        },
        "minDtu": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets minDtu for service tier advisor."
        },
        "avgDtu": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets avgDtu for service tier advisor."
        },
        "maxDtu": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxDtu for service tier advisor."
        },
        "maxSizeInGB": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxSizeInGB for service tier advisor."
        },
        "serviceLevelObjectiveUsageMetrics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SloUsageMetric"
          },
          "description": "Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor."
        },
        "currentServiceLevelObjective": {
          "type": "string",
          "description": "Gets or sets currentServiceLevelObjective for service tier advisor."
        },
        "currentServiceLevelObjectiveId": {
          "type": "string",
          "description": "Gets or sets currentServiceLevelObjectiveId for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjective": {
          "type": "string",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjectiveId": {
          "type": "string",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjective": {
          "type": "string",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjectiveId": {
          "type": "string",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjective": {
          "type": "string",
          "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjectiveId": {
[...]
