{
    /* 
    
        Operation Group: DatabaseBackup

    */
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases": {
      "get" : {
        "tags": [
          "GeoBackup"
        ],
        "operationId":"DatabaseBackup_ListGeoBackup",
        "description":"Returns a list of Azure SQL Database geo backups.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GeoBackupList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}": {
      "get" : {
        "tags": [
          "GeoBackup"
        ],
        "operationId":"DatabaseBackup_GetGeoBackup",
        "description":"Returns an Azure SQL Database geo backup.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database to retrieve geo backups for."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GeoBackup"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases": {
      "get" : {
        "tags": [
          "DeletedDatabaseBackup"
        ],
        "operationId":"DatabaseBackup_ListDeletedDatabaseBackups",
        "description":"Returns a list of Azure SQL deleted database backups (a resource representing a deleted database that can be restored).",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeletedDatabaseBackupList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases/{databaseName}": {
      "get" : {
        "tags": [
          "DeletedDatabaseBackup"
        ],
        "operationId":"DatabaseBackup_GetDeletedDatabaseBackup",
        "description":"Returns an Azure SQL deleted database backup (a resource representing a deleted database that can be restored).",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the restorable dropped Azure SQL Database to be retrieved."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeletedDatabaseBackup"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints": {
      "get": {
        "tags": [
          "DatabaseBackup"
        ],
        "operationId": "DatabaseBackup_ListRestorePoints",
        "description": "Returns a list of Azure SQL Database restore points.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database from which to retrieve available restore points."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RestorePointListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
  },
  "definitions": {
    "RestorePointProperties": {
      "properties": {
        "restorePointType": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the restore point type of the Azure SQL Database restore point.",
          "enum": [
            "DISCRETE",
            "CONTINUOUS"
          ],
          "x-ms-enum": {
            "name": "RestorePointTypes",
            "modelAsString": "True"
          }
        },
        "restorePointCreationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time. Populated when restorePointType = CONTINUOUS. Null otherwise."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Earliest restore time. Populated when restorePointType = DISCRETE. Null otherwise."
        }
      },
      "description": "Represents the properties of an Azure SQL Database restore point."
    },
    "RestorePoint": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RestorePointProperties",
          "description": "Gets or sets the properties representing the restore point."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database restore point."
    },
    "RestorePointListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorePoint"
          },
          "description": "Gets or sets the list of a given Azure Sql Database restore points."
        }
      },
      "description": "Represents the response to a List Azure Sql Database restore points request."
    },
    "GeoBackup" : {
      "properties": {
        "properties": {
          "$ref": "#/definitions/GeoBackupProperties",
          "description":"Gets or sets the properties representing the geo backup."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database geo backup."
    },
    "GeoBackupProperties" : {
      "properties": {
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the edition of the Azure SQL Database.",
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the current service level objective name for the database."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the elastic pool name for the database."
        },
        "lastAvailableBackupDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the last available backup date."
        },
      },
      "description": "Represents an Azure SQL Database geo backup."
    },
    "GeoBackupList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GeoBackup"
          },
          "description": "Gets or sets the list of a given Azure Sql Database geo backups."
        }
      },
      "description": "Represents the response to a List Azure Sql Database geo backups request."
    },
    "DeletedDatabaseBackup" : {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeletedDatabaseBackupProperties",
          "description":"Gets or sets the object representing a given Azure Sql Database deleted database backup."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database restorable deleted database."
    },
    "DeletedDatabaseBackupProperties" : {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the Azure SQL Database name."
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the creation date of the Azure SQL Database."
        },
        "deletionDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the deletion date of the Azure SQL Database."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Gets the recovery period starte date of the Azure SQL Database. This records the start date and time when recovery is available for this Azure SQL Database."
        },
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the edition of the Azure SQL Database.",
        },
        "maxSizeBytes": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "Gets the max size of the Azure SQL Database expressed in bytes."
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the Service Level Objective of the Azure SQL Database."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the name of the Azure SQL Elastic Pool the database is in."
        }
      },
      "description": "Represents the properties of an Azure SQL Database restorable deleted database."
    },
    "DeletedDatabaseBackupList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeletedDatabaseBackup"
          },
          "description": "Gets or sets the list of a given Azure Sql Database deleted database backups."
        }
      },
      "description": "Represents the response to a List Azure Sql Database deleted database backups request."
    },
  },
  "parameters": { }
}