{
    /* 
    
        Operation Group: AuditingPolicy

    */
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies/Default": {
      "put": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_CreateOrUpdateDatebasePolicy",
        "description": "Creates or updates an Azure SQL Database auditing policy.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the auditing policy applies."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a Azure SQL Database auditing policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicy"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_GetDatabasePolicy",
        "description": "Returns an Azure SQL Database auditing policy.",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Database for which the auditing policy applies."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DatabaseAuditingPolicy"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies/Default": {
      "put": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_CreateOrUpdateServerPolicy",
        "description": "Creates or updates an Azure SQL Server auditing policy.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for createing or updating a Azure SQL Server auditing policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicy"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicy"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AuditingPolicy"
        ],
        "operationId": "AuditingPolicy_GetServerPolicy",
        "description": "Returns an Azure SQL Server auditing policy.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameterGeneric"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerAuditingPolicy"
            }
          }
        }
      }
    },
  },
  "definitions": {
    "DatabaseAuditingPolicyProperties": {
      "properties": {
        "useServerDefault": {
          "readOnly": true,
          "type": "string",
          "description": "Indicates whether the default server auditing policy is used for that Azure SQL Database."
        },
        "auditingState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the auditing state of the Azure SQL Server auditing policy."
        },
        "eventTypesToAudit": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the events types of the Azure SQL Server auditing policy."
        },
        "storageAccountName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage account name of the Azure SQL Server auditing policy."
        },
        "storageAccountKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the primary storage account key of the Azure SQL Server auditing policy."
        },
        "storageAccountSecondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets secondary key of the storage account of the Azure SQL Server auditing policy."
        },
        "storageTableEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage table endpoint of the Azure SQL Server auditing policy."
        },
        "storageAccountResourceGroupName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the resource group of the storage account of the Azure SQL Server auditing policy."
        },
        "storageAccountSubscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the subscription Id of the storage account of the Azure SQL Server auditing policy."
        },
        "retentionDays": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the retention in days of the Azure SQL Database auditing policy."
        },
        "auditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the name of the table audit logs are written to in the Azure SQL Database auditing policy."
        },
        "fullAuditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the full name of the table audit logs are written to in the Azure SQL Database auditing policy."
        }
      },
      "description": "Represents the properties of an Azure SQL auditing policy."
    },
    "DatabaseAuditingPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseAuditingPolicyProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update database audting policy parameters."
    },
    "DatabaseAuditingPolicy": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseAuditingPolicyProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Database auditing policy."
    },
    "ServerAuditingPolicyProperties": {
      "properties": {
        "auditingState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the auditing state of the Azure SQL Server auditing policy."
        },
        "eventTypesToAudit": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the events types of the Azure SQL Server auditing policy."
        },
        "storageAccountName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage account name of the Azure SQL Server auditing policy."
        },
        "storageAccountKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the primary storage account key of the Azure SQL Server auditing policy."
        },
        "storageAccountSecondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "Gets secondary key of the storage account of the Azure SQL Server auditing policy."
        },
        "storageTableEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the storage table endpoint of the Azure SQL Server auditing policy."
        },
        "storageAccountResourceGroupName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the resource group of the storage account of the Azure SQL Server auditing policy."
        },
        "storageAccountSubscriptionId": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the subscription Id of the storage account of the Azure SQL Server auditing policy."
        },
        "retentionDays": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the retention in days of the Azure SQL Database auditing policy."
        },
        "auditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the name of the table audit logs are written to in the Azure SQL Database auditing policy."
        },
        "fullAuditLogsTableName": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the full name of the table audit logs are written to in the Azure SQL Database auditing policy."
        }
      },
      "description": "Represents the properties of an Azure SQL auditing policy."
    },
    "ServerAuditingPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerAuditingPolicyProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update Azure SQL Server audting policy parameters."
    },
    "ServerAuditingPolicy": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerAuditingPolicyProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Server auditing policy."
    },
  },
  "parameters": { }
}